<% include header.html %>

<!-- First Row of services -->
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/320x200" alt="...">
      <div class="caption">
        <h3>Financial Management</h3>
        <p>Income, Expense, Balance etc</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/320x200" alt="...">
      <div class="caption">
        <h3>Event Management</h3>
        <p>Meetings, MoMs, Circulars, Cultural Events</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/320x200" alt="...">
      <div class="caption">
        <h3>Service Providers</h3>
        <p>Contracts, Payments, Rate service</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/320x200" alt="...">
        <div class="caption">
          <h3>Digital Wallet</h3>
          <p>Secure your documents</p>
        </div>
      </div>
  </div>
</div>

<!-- Second Row of services -->
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/320x200" alt="...">
      <div class="caption">
        <h3>Facility Management</h3>
        <p>Electrical, Plumbing, Civil etc</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/320x200" alt="...">
      <div class="caption">
        <h3>Security Management</h3>
        <p>CCTV, Security Service, Visitors</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/320x200" alt="...">
      <div class="caption">
        <h3>Resident Services</h3>
        <p>Classifieds, Group Discounts, Dues, Concierge </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://placehold.it/320x200" alt="...">
        <div class="caption">
          <h3>Community Services</h3>
          <p>Charity, NGO tie-ups, Host an event</p>
        </div>
      </div>
  </div>
</div>

<% include footer.html %>
